<header class="header">
	<h1>Post Title Fetcher
		<span>Get all public posts title from a wordpress blog.</span>
	</h1>
</header>
<section class="content">
	<%= 
	@titles.each do |title|
		title.text
	end
	%>
</section>
